.form-input{
  width: 5%;
  border-radius: 30px;
  
  
}

.form-cont{
  
  text-align: center;
  
  
}


.slider-container{
  justify-content: center;
  padding-top: 7%;
  display: flex;
}

.icon{
  
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 2%;
}

.icon:hover{
  cursor: pointer;
}

.card{
  width:35ch;
  height:40ch;
  
  border-radius: 5%;
  background-size: cover;
  background-repeat: no-repeat;
  
  transition: transform 1s ease;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin-right: 2%;
  text-align: center;
}

.card:hover{
  transform: scale(1.5,1.5);
  
  box-shadow: 1px 1px black;
  z-index: 2;
}
.card:hover::after{
  transform: scale(1,1);
  transition: 2s;
}

.footer{
  text-align: center;
  background-color: black;
  color: aliceblue;
  bottom: 0px;
}

.dot{
  cursor: pointer;
}

.dots-cont{
  display: flex;
  justify-content: center;
}


